<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<context:annotation-config />

	<context:component-scan
		base-package="cursojava.spring.datos.modelobanco.jpa,cursojava.spring.datos.modelobanco.servicios"></context:component-scan>

	<!-- NO EMPLEAR EN PRODUCCION -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="com.mysql.cj.jdbc.Driver"
		p:url="jdbc:mysql://localhost:3306/MODELOBANCO" p:username="root"
		p:password="Fedora2020">
	</bean>
	
	<bean id="dataSource1" class="org.apache.commons.dbcp2.BasicDataSource"
		p:url="jdbc:mysql://localhost:3306/MODELOBANCO"
		p:driverClassName="com.mysql.cj.jdbc.Driver"
		p:username="root"
		p:password="Fedora2020"
		p:initialSize="4"
		p:maxTotal="10"
		p:minIdle="4">	
	</bean>

	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf"></property>
	</bean>

	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource1" />
		<property name="packagesToScan"
			value="cursojava.spring.datos.modelobanco.entidades" />
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"></bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.show_sql"> true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
	</bean>

</beans>
