<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<!-- Este fichero pertenece a componentes para la configuracion MVC -->

	<!-- Aqui hemos declarado el view resolver como bean -->
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="suffix" value=".jsp"/> <property name="prefix" value="/vistas/"/> 
		</bean> -->

	<!-- Se indica el fichero .properties sin la extension -->
	<!-- <bean class= "org.springframework.web.servlet.view.ResourceBundleViewResolver"> 
		<property name="basename" value="vistas"></property> </bean> -->

	<bean
		class="org.springframework.web.servlet.view.ViewResolverComposite">
		<property name="order" value="2"></property>
		<property name="viewResolvers">
			<list>
				<bean
					class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
					<property name="basename" value="vistas"></property>
				</bean>

				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="suffix" value=".jsp" />
					<property name="prefix" value="/" />
				</bean>

			</list>
		</property>
	</bean>

	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>

</beans>
